project/local.properties
project/gen
project/libs
project/assets
project/obj
project/src
project/res/values*
project/AndroidManifest.xml
project/jni/Settings.mk
project/bin/classes
libapplication.so
project/jni/application/*
!project/jni/application/src
.DS_Store
.svn